"compatibilitytools"
{
  "compat_tools"
  {
    "%name%" // Internal name of this tool
    {
      "install_path" "./luxtorpeda-original"
      "display_name" "%display_name%"
      "from_oslist"  "windows"
      "to_oslist"    "linux"
    }

    "%name%_runtime" // Internal name of this tool
    {
      "install_path" "./luxtorpeda-runtime"
      "display_name" "%display_name% (Runtime)"
      "from_oslist"  "windows"
      "to_oslist"    "linux"
    }
  }
}
