"compatibilitytools"
{
  "compat_tools"
  {
    "%name%" // Internal name of this tool
    {
      "install_path" "."
      "display_name" "%display_name%"
      "from_oslist"  "windows"
      "to_oslist"    "linux"
    }
  }
}
