name: Build Luxtorpeda

on:
  push:
    branches: [ master ]
    paths:
      - 'src/**'
      - 'Cargo*'
      - 'Makefile'
      - 'compatibilitytool.template'
      - 'toolmanifest.vdf'
      - 'addons/**'
      - 'Resources/**'
      - 'Scenes/**'
      - 'project.godot'
      - 'config.json'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      build_number: ${{ steps.buildnumber.outputs.build_number }}
    steps:
    - name: Generate build number
      id: buildnumber
      uses: luxtorpeda-dev/build-number@v5
      with:
        token: ${{ secrets.github_token }}
  build:
    runs-on: ubuntu-latest
    needs: setup
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Deps
      run: apt-get update && apt-get -y install clang libsdl2-dev scons
    - name: Install Godot
      run: wget https://downloads.tuxfamily.org/godotengine/3.5.1/Godot_v3.5.1-stable_linux_headless.64.zip && unzip Godot_v3.5.1-stable_linux_headless.64.zip && chmod +x Godot_v3.5.1-stable_linux_headless.64 && rm Godot_v3.5.1-stable_linux_headless.64.zip && mv Godot_v3.5.1-stable_linux_headless.64 /usr/local/bin/godot
    - name: Build Godot Export Template
      run: make godot-export-template SCONS="python3 /usr/bin/scons" mkdir -p ~/.local/share/godot/templates/3.5.1.stable && && mv ./godot-build/bin/godot.x11.opt.64 ~/.local/share/godot/templates/3.5.1.stable/linux_x11_64_release
    - name: Build
      run: make release GODOT=godot
    - name: Package
      run: make version=${{ needs.setup.outputs.build_number }} luxtorpeda.tar.xz GODOT=godot
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
  deploy:
    needs: [setup, build]
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v3
      with:
        name: luxtorpeda.tar.xz
        path: ./
    - name: Create Release
      id: create_release
      uses: luxtorpeda-dev/create-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: v${{ needs.setup.outputs.build_number }}
          release_name: Version ${{ needs.setup.outputs.build_number }}
          draft: false
          prerelease: false
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: luxtorpeda-dev/upload-release-asset@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: luxtorpeda.tar.xz
        asset_name: luxtorpeda-${{ needs.setup.outputs.build_number }}.tar.xz
        asset_content_type: application/x-xz
