name: Build Luxtorpeda

on:
  push:
    tags:
        - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    container:
        image: registry.gitlab.steamos.cloud/steamrt/sniper/sdk:3.0.20250826.159138
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install Rust
      run: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        . "$HOME/.cargo/env"
        echo "$HOME/.cargo/bin" >> "$GITHUB_PATH"
        rustup toolchain install 1.88.0 --profile minimal --no-self-update
        rustup default 1.88.0
      shell: bash
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Install Godot
      uses: chickensoft-games/setup-godot@v2
      with:
        version: 4.5.1
        use-dotnet: false
        include-templates: true
    - name: Build
      run: make release GODOT=godot
    - name: Package
      run: make version=${{ github.ref_name }} luxtorpeda.tar.xz GODOT=godot
    - name: Calculate a checksum of release
      run: sha512sum luxtorpeda.tar.xz > luxtorpeda.tar.xz.sha512
    - name: Upload Release Artifact
      uses: actions/upload-artifact@v6
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
    - name: Upload Checksum Artifact
      uses: actions/upload-artifact@v6
      with:
        name: luxtorpeda.tar.xz.sha512
        path: ./luxtorpeda.tar.xz.sha512
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v7
      with:
        name: luxtorpeda.tar.xz
        path: ./
    - name: Download SHA Artifact
      uses: actions/download-artifact@v7
      with:
        name:  luxtorpeda.tar.xz.sha512
        path: ./
    - name: Rename Artifacts for Release Prep
      run: |
        mv luxtorpeda.tar.xz luxtorpeda-${{ github.ref_name }}.tar.xz
        mv luxtorpeda.tar.xz.sha512 luxtorpeda-${{ github.ref_name }}.tar.xz.sha512
    - name: Update name inside the checksum file
      run: sed -i 's/luxtorpeda.tar.xz/luxtorpeda-${{ github.ref_name }}.tar.xz/g' luxtorpeda-${{ github.ref_name }}.tar.xz.sha512
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2.5.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            luxtorpeda-${{ github.ref_name }}.tar.xz
            luxtorpeda-${{ github.ref_name }}.tar.xz.sha512
