name: Test Build Luxtorpeda

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Deps
      run: apt-get update && apt-get -y install clang libsdl2-dev scons
    - name: Install Godot
      run: wget https://downloads.tuxfamily.org/godotengine/3.5.1/Godot_v3.5.1-stable_linux_headless.64.zip && unzip Godot_v3.5.1-stable_linux_headless.64.zip && chmod +x Godot_v3.5.1-stable_linux_headless.64 && rm Godot_v3.5.1-stable_linux_headless.64.zip && mv Godot_v3.5.1-stable_linux_headless.64 /usr/local/bin/godot
    - name: Build Godot Export Template
      run: alias scons="python3 /usr/bin/scons" && make godot-export-template && mv ./godot-build/bin/godot.x11.opt.64 ~/.local/share/godot/templates/3.5.1.stable/linux_x11_64_release
    - name: Build
      run: make release GODOT=godot
    - name: Package
      run: make version=${{ github.head_ref }}.${{ github.sha }} luxtorpeda.tar.xz GODOT=godot
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
  clippy:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Deps
      run: apt-get update && apt-get -y install clang
    - name: Install Clippy
      run: rustup component add clippy
    - name: Clippy Run
      run: cargo clippy
  fmt:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install fmt
      run: rustup component add rustfmt
    - name: fmt Run
      run: cargo fmt --all -- --check
  audit:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Audit
      run: cargo install cargo-audit
    - name: Audit Run
      run: cargo audit
