name: Test Build Luxtorpeda

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      run: |
        rustup toolchain install 1.80.0 --profile minimal --no-self-update
        rustup default 1.80.0
      shell: bash
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Install Deps
      run: sudo apt-get update && sudo apt-get -y install clang libsdl2-dev
      shell: bash
    - name: Install Godot
      uses: chickensoft-games/setup-godot@v2
      with:
        version: 4.2.2
        use-dotnet: false
        include-templates: true
    - name: Build
      run: make release GODOT=godot
    - name: Package
      env:
        SHA_VALUE: ${{ github.sha }}
        HEAD_REF: ${{ github.head_ref }}
      run: make version="$HEAD_REF"."$SHA_VALUE" luxtorpeda.tar.xz GODOT=godot
    - name: Calculate a checksum of release
      run: sha512sum luxtorpeda.tar.xz > luxtorpeda.tar.xz.sha512
    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
    - name: Upload Checksum Artifact
      uses: actions/upload-artifact@v4
      with:
        name: luxtorpeda.tar.xz.sha512
        path: ./luxtorpeda.tar.xz.sha512
  clippy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      run: |
        rustup toolchain install 1.80.0 --profile default
        rustup default 1.80.0
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Clippy Run
      run: cargo clippy
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      run: |
        rustup toolchain install 1.80.0 --profile default
        rustup default 1.80.0
    - name: fmt Run
      run: cargo fmt --all -- --check
  audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      run: |
        rustup toolchain install 1.80.0 --profile default
        rustup default 1.80.0
        cargo install cargo-audit
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Audit Run
      run: cargo audit
