name: Test Build Luxtorpeda

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Deps
      run: apt-get update && apt-get -y install clang libsdl2-dev
    - name: Install Godot
      run: wget https://downloads.tuxfamily.org/godotengine/3.5.1/Godot_v3.5.1-stable_linux_headless.64.zip && unzip Godot_v3.5.1-stable_linux_headless.64.zip && chmod +x Godot_v3.5.1-stable_linux_headless.64
    - name: Build
      run: echo $PWD && make release GODOT=./Godot_v3.5.1-stable_linux_headless.64
    - name: Package
      run: make version=${{ github.head_ref }}.${{ github.sha }} luxtorpeda.tar.xz
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
  clippy:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Deps
      run: apt-get update && apt-get -y install clang
    - name: Install Clippy
      run: rustup component add clippy
    - name: Clippy Run
      run: cargo clippy
  fmt:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install fmt
      run: rustup component add rustfmt
    - name: fmt Run
      run: cargo fmt --all -- --check
  audit:
    runs-on: ubuntu-latest
    container:
      image: rust:1.65-buster
    env:
      CARGO_HOME: ./cargo
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Audit
      run: cargo install cargo-audit
    - name: Audit Run
      run: cargo audit
