name: Test Build Luxtorpeda

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup toolchain install 1.73 --profile minimal --no-self-update
        rustup default 1.73
      shell: bash
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Install Deps
      run: sudo apt-get update && sudo apt-get -y install clang libsdl2-dev
      shell: bash
    - name: Install Godot
      uses: chickensoft-games/setup-godot@v1
      with:
        version: 4.1.3
        use-dotnet: false
    - name: Build
      run: make release GODOT=godot
    - name: Package
      env:
        SHA_VALUE: ${{ github.sha }}
        HEAD_REF: ${{ github.head_ref }}
      run: make version="$HEAD_REF"."$SHA_VALUE" luxtorpeda.tar.xz GODOT=godot
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: luxtorpeda.tar.xz
        path: ./luxtorpeda.tar.xz
  clippy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup toolchain install 1.73 --profile default
        rustup default 1.73
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Clippy Run
      run: cargo clippy
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup toolchain install 1.73 --profile default
        rustup default 1.73
    - name: fmt Run
      run: cargo fmt --all -- --check
  audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup toolchain install 1.73 --profile default
        rustup default 1.73
    - name: Use rust cache
      uses: Swatinem/rust-cache@v2
    - name: Audit Run
      run: cargo audit
